#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#sp-panel-root {
  fieldset {
    min-height: 160px;
  }

  section {
    padding-bottom: 5px;
    text-align: left;
  }
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: #646cff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .link-section-next {
    display: flex;
    justify-content: right;
    margin-top: 10px;
  }

  small.error {
    color: red;
  }

  .connected {
    strong {
      color: green;
    }
  }

  .more-btn {
    button {
      position: relative;
      span {
        transform: rotate(180deg);
        position: absolute;
        right: 10px;
        font-size: 20px;
        top: 3px;
      }
    }

    &.show {
      button {
        span {
        }
        border-bottom: 0;
        margin-bottom: 0;
        border-radius: 4px 4px 0 0;
      }
      ul {
        display: block;
      }
    }

    ul {
      display: none;
      list-style: none;
      margin: 0;
      border: 1px solid #ccc;
      padding: 0;
      position: absolute;
      width: 79%;

      li {
        padding: 2px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
          color: #646cff;
        }
      }
    }
  }
}
